html, body {
    margin: 0;
    padding: 0;
    font-family: "Protest Riot", sans-serif;
    background-color: #bdf3e9;
    color: #3f5369;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    background-color: rgb(183, 228, 217);
    border: 0;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    font-family: "Protest Riot", sans-serif;
    margin: 10px 0;
}

button {
    color: #bdf3e9;
    background-color: #00A896;
    border: 0;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    font-family: "Protest Riot", sans-serif;
}

button:hover{
    background-color: #01B698;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

ul li {
    background-color: #b5dfe7;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
}

ul li:hover {
    background-color: #79badb;
    cursor: pointer;
}